body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(53, 51, 51, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    border-radius: 10px;
    width: 100%;
    max-width: 960px;
    display: flex;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 25px;
    padding-bottom: 4em;
    letter-spacing: 1px;
}

.pricing-plan {
    border-right: rgba(172, 103, 39, 0.2) 1px solid;
    flex: 1;
}

.pricing-plan:last-child {
    border-right: none;
}

.pricing-img {
    width: 100%;
    margin-bottom: 25px;
}

.pricing-header {
    font-size: 1em;
    font-weight: 700;
    opacity: 0.45;
    /* padding: 0.7em 0; */
    margin-bottom: 2em;
}

.pricing-list {
    color: rgba(172, 103, 39);
    padding: 2em 0;
    margin: 0 2.7em; 
    border-top: rgba(172, 103, 39, 0.2) 1px solid;
    font-size: 0.9em;
}

.pricing-list:last-child {
    border-bottom: rgba(172, 103, 39, 0.2) 1px solid;
}

.price {
    color: rgb(172, 103, 39);
    font-size: 2em;
    font-weight: 700;
    margin: 1.5em 0;
}

.pricing-btn {
    border: rgba(172, 103, 39, 0.555) 1px solid;
    border-radius: 0.5em;
    display: inline-block;
    font-size: 1em;
    padding: 0.9em 1.8em;
    background-color: #fff;
    color: rgb(172, 103, 39);
    text-transform: uppercase;
    transition: transform 0.25s, background-color 200ms ease-in-out;
}

.pricing-btn:hover {
    background-color: rgba(172, 103, 39, 0.2);
    color: rgb(172, 103, 39);
    transform: translateY(2px);
}

.pricing-btn.is-featured {
    background-color: rgb(172, 103, 39);
    color: #fff;
}

.pricing-btn.is-featured:hover,
.pricing-btn.is-featured:focus {
    background-color: rgb(131, 79, 30);
    color: #fff;
}

@media (max-width:1070px) {
    .panel {
        flex-direction: column;
        flex-basis: 90%;
    }
}