<% layout('/layouts/boilerplate') -%>
<div class="max-w-[100%] md:max-w-[90%] xl:max-w-[90%] mx-auto px-[20px] flex flex-col h-full">
    <div class="my-6">
        <h1 class="text-2xl">Search Results for: <%= location %></h1>
    </div>
    <%- include("../partials/filter") %>
    <% if (properties.length) {%>
            <div class="mt-16">
                <div class="mx-auto flex flex-col gap-20 h-full">
                        <%- include("../partials/card") %>
                </div>
            </div>
            <!-- <div class="basis-1/2 lg:basis-2/5">
                map here
            </div> -->
        </div>
        <%} else { %>
            <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
                <div class="text-center">
                    <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">No properties found
                    </h1>
                    <div class="mt-10 flex items-center justify-center gap-x-6">
                        <a href="/"
                            class="rounded-md bg-[#1d2d44] px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[#1d1d44] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go
                            back home</a>
                    </div>
                </div>
            </main>
            <% } %>