<% layout('/layouts/boilerplate') -%>
    <div class="flex flex-row h-full">
        <div class="basis-1/2 lg:basis-3/5">
            <div class="lg:pr-24 flex flex-col gap-20 h-full overflow-y-scroll">
                <%- include("../partials/filter") %>
                <%- include("../partials/card") %>
            </div>
        </div>
        <div class="basis-1/2 lg:basis-2/5">
            map here
        </div>
    </div>