h1 {
    text-align: center;
}

#container {
    width: 90%;
    height: 500px;
    background-color: rgb(10, 10, 39);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#container div {
    width: 400px;
    height: 150px;
}

.some {
    align-self: center;
}