<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/products" method="post">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="price">Price</label>
        <input type="number" name="price" id="price" />
      </div>
      <div>
        <label for="category">Category</label>
        <select name="category" id="category">
          <% categories.map((c) => { %>
            <option value="<%= c %>"><%= c %></option>
          <% }) %>
        </select>
      </div>
      <button type="submit">Create</button>
    </form>
  </body>
</html>
