<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnvisionEstate</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/f4821b883d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/formValidate.css">
</head>
<body>
    <div class="flex flex-col max-w-[100%] md:max-w-[90%] xl:max-w-[90%] h-screen mx-auto px-[20px] text-[#0d1321] oveflow-x-hidden">
        <div class="">
            <%- include("../partials/navbar") %>
        </div>
        <div class="h-screen">
            <%- body %>
        </div>
    </div>
    <script src="/javascripts/searchbar.js"></script>
    <script src="/javascripts/navbar.js"></script>
    <script src="/javascripts/validateForms.js"></script>
</body>
</html>