<%- layout("/layouts/boilerplate") %>
<main class="flex flex-col md:flex-row h-full">
    <div class="basis-3/5">
        <div class="lg:pr-24 flex flex-col justify-center gap-y-12 h-full">
            <h1 class="text-5xl md:text-6xl font-semibold">Discover Your Dream Home</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. At sapiente tempora
                modi dolore nisi laudantium cupiditate non deserunt quis consequatur! 
                Dolore consectetur cumque fugiat soluta sunt fuga nulla dicta eaque.
            </p>
            <Searchbar />
            <div class="hidden md:flex justify-between">
                <div class="">
                    <h1 class="text-3xl font-semibold">16+</h1>
                    <h2 class="text-xl font-light">Years of Experience</h2>
                </div>
                <div class="">
                    <h1 class="text-3xl font-semibold">16+</h1>
                    <h2 class="text-xl font-light">Awards Gained</h2>
                </div>
                <div class="">
                    <h1 class="text-3xl font-semibold">16+</h1>
                    <h2 class="text-xl font-light">Awards Gained</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="basis-2/5 flex items-center bg-[#f0ebd8] relative hidden lg:flex">
        <img class="rounded-md absolute right-0" src="/houses.jpg" alt="" />
    </div>
</main>