header{
    /* background-color: #1a1a1a; */
    color: white;
}

.header {
    /* background-image: url("images/budapest.jpg"); */
    background-image: url("https://static.rdc.moveaws.com/images/hero/default/2021-11/jpg/hp-hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
}

.blank {
    min-height: 500px;
}

.intro-heading {
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
}

.scrolled {
    background-color: #1a1a1a;
    transition: background-color 0.5s;
}

@media (max-width: 1200px) {
    .intro-heading {
        font-size: 3.5rem;
    }
}