@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
header{
    /* background-color: #1a1a1a; */
    color: white;
}

.header {
    /* background-image: url("images/budapest.jpg"); */
    background-image: url("https://static.rdc.moveaws.com/images/hero/default/2021-11/jpg/hp-hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
}

.blank {
    min-height: 500px;
}

.head-font {
    font-family: "Nunito Sans", sans-serif;
}

.scrolled {
    background-color: #1a1a1a;
    transition: background-color 0.5s;
}

@media (max-width: 1200px) {
    .intro-heading {
        font-size: 3.5rem;
    }
}